<!doctype html>
<html data-framework="vue">
  <head>
    <meta charset="utf-8">
    <title>代办事件簿</title>
    <link rel="stylesheet" href="https://unpkg.com/todomvc-app-css/index.css">
    <style>
      [v-cloak] { display: none; }
      .userinfo {
        position: absolute;
        bottom: -46px;
        width: 100%;
        font-size: 100%;
      }
      #login input {
        padding: 16px;
        text-align: center;
      }
      #login input:disabled {
        color: #ddd;
        cursor: not-allowed;
      }
      #login .control {
        display: flex;
      }
      #login-button {
        background-color: #fafafa;
      }
    </style>
  </head>
  <body>
    <section class="todoapp">
      <h1>代办事件簿</h1>
      <form action="#" id="login" v-if="!user" v-cloak>
        <input v-model="username" autofocus required class="new-todo" placeholder="用户名">
        <input type="password" v-model="password" required class="new-todo" placeholder="密码">
        <div class="control">
          <button class="new-todo" @click="handleLogin" id="login-button">登录</button>
          <button class="new-todo" @click="handleSignUp">注册</button>
        </div>
      </form>
      <template v-if="user" v-cloak>
        <header class="header">
          <input class="new-todo"
            v-if="user"
            autofocus autocomplete="off"
            placeholder="需要完成的事情?"
            v-model="content"
            @keyup.enter="handleCreateTodo">
        </header>
        <section class="main" v-show="todos.length">
          <ul class="todo-list">
            <li v-for="todo in filteredTodos"
              class="todo"
              :key="todo.objectId"
              :class="{ completed: todo.done, editing: todo.objectId == editingId }">
              <div class="view">
                <input class="toggle" type="checkbox" v-model="todo.done" @change="handleToggleDone(todo)">
                <label @dblclick="handleEditTodo(todo)">{{ todo.content }}</label>
                <button class="destroy" @click="handleRemoveTodo(todo)"></button>
              </div>
              <input class="edit" type="text"
                v-model="editingContent"
                v-todo-focus="todo.objectId == editingId"
                @blur="handleFinishEditTodo(todo)"
                @keyup.enter="handleFinishEditTodo(todo)"
                @keyup.esc="handleFinishEditTodo(todo)">
            </li>
          </ul>
        </section>
        <footer class="footer" v-show="todos.length" v-cloak>
          <span class="todo-count">
            <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
          </span>
          <ul class="filters">
            <li><a href="#/all" :class="{ selected: visibility == 'all' }">所有</a></li>
            <li><a href="#/active" :class="{ selected: visibility == 'active' }">未完成</a></li>
            <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">已完成</a></li>
          </ul>
          <button class="clear-completed" @click="handleRemoveCompleted" v-show="todos.length > remaining">
            清除已完成
          </button>
        </footer>
        <p class="info userinfo">
          登陆账号： {{user.username}} (<a @click='handleLogout'>登出</a>)
        </p>
      </template>
    </section>
    <footer class="info">
      <p>双击编辑待办事项</p>
    </footer>
    <script src="https://unpkg.com/leancloud-storage/dist/av-live-query-min.js"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
